body { 
    font-family: "Inter", sans-serif;
    padding: 20px; 
    color: #fff;
    background: black; 
    margin-top: 0;
    padding-top: 0;
}

.barraNav {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: center; 
  padding-left: 4vw;
  padding-right: 12vw;    
}

nav{
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

h1 {
  padding: 0px;
    font-size: 15px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
  }

  .boton_navegacion {
    padding: 0px;
    font-size: 12px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
    transition: all 0.3s ease;
  }
  
  .boton_navegacion:hover {
    padding: 0px;
    font-size: 15px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.879), 0 0 16px rgba(255, 255, 255, 0.871);
  }

  #app canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    pointer-events: none;
    z-index: -1;
    top: 0;
    left: 0;
  }

  h2 {
    padding: 0px;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
  }

div {
  border-color: #fff;
    border-style: solid; /* Define el borde como sólido */
    border-width: 2px; /* Define el grosor del borde */
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 20px;
}

  .estadistica {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    margin: 15px auto;
    /* max-width: 500px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .estadistica img {
    width: 60px;
    margin-right: 20px;
    /* box-shadow: 0 0 10px rgba(218, 8, 8, 0.5); */
  }
  
  .estadistica p {
    margin: 0;
    font-size: 30px;
  }

  .armas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }

  .armas article{
    text-align: center;
  }

  .armas article img{
    width: 40px;
  }