body { 
  margin-top: 0;
  padding-top: 0;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;

  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;

  background-color: #08090F;
  color: white;
  font-family: 'Inter', sans-serif;

}
.barraNav {
  margin-top: 3vh;
  
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: center; 
  padding-left: 5vw;
  padding-right: 10vw;     
  
}
nav{
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

h1 {
  padding: 0px;
    font-size: 15px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
  }

  .boton_navegacion {
    padding: 0px;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
    transition: all 0.3s ease;
    display: inline-block; 
  }
  
  .boton_navegacion:hover {
    transform: scale(1.05);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.879), 0 0 16px rgba(255, 255, 255, 0.871);
  }

  .logo {
   
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
    transition: all 0.3s ease;
    display: inline-block; 
  }
  
  .logo:hover {
    transform: scale(1.05);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.879), 0 0 16px rgba(255, 255, 255, 0.871);
  }
  /* #app canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    pointer-events: none;
    z-index: -1;
    top: 0;
    left: 0;
  } */

  h2 {
    padding: 0px;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
    text-align: center;
  }

  .subtitulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-left: 24px;
  }

  .subtitulo h3{
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
  }

  .contenedor{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .flex-individual{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
  }

div {
  border-color: #fff;
    border-style: solid; /* Define el borde como sólido */
    border-width: 2px; /* Define el grosor del borde */
    border-radius: 10px;
    padding: 0 20px;
    /* margin: 50px auto;
    max-width: 500px; */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.514);
    font-size: 20px;
}

  .estadistica {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 15px;
    margin: 15px auto;
    /* max-width: 500px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .estadistica img {
    width: 60px;
  }
  
  .estadistica p {
    margin: 0;
    font-size: 30px;
  }

  #puntaje {
    width: 40px;
  }

  .armas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }

  .armas article{
    text-align: center;
  }

  .armas article p, .flex-individual div:first-child p:nth-child(3){
    font-size: 12px;
  }

  .armas article img{
    width: 40px;
  }

  .chartContainer{
    max-width: 500px;
    /* justify-content: center; */
    justify-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* align-content: center; */
}

canvas {
  border-color: #fff;
  border-style: solid; /* Define el borde como sólido */
  border-width: 2px; /* Define el grosor del borde */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.514);
}