@font-face {
    font-family: 'Arcade Gamer';
    src: url('../../fonts/PressStart2P-vaV7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  canvas {
    width: auto;
    height: 80vh;
    display: block;
  }

body {
    margin-top: 0;
    padding-top: 0;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
  
    background-color: #08090F;
    color: white;
    font-family: 'Inter', sans-serif;
  
  
  }
  


.login-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.79);
}

input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(154, 154, 154);
    color: rgba(255, 255, 255, 0.648);
    outline: none;
    font-size: 16px;
    text-align: center;
}
button {
    font-family: 'Arcade Gamer', sans-serif;
    width: 50%;
    padding: 10px;
    font-size: 12px;
    background: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background: rgb(111, 111, 113);
    color: white;
}


  .gamePage{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  
.barraNav {
    margin-top: 3vh;
    
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: center; 
    padding-left: 5vw;
    padding-right: 10vw;     
    
  }
  nav{
        padding-bottom: 3VH;
      display: flex;
      flex-direction: row;
      gap: 3vw;
    }

    

    .boton_navegacion {
        padding: 0px;
        font-size: 20px;
        color: white;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
        transition: all 0.3s ease;
        display: inline-block; 
      }
      
      .boton_navegacion:hover {
        transform: scale(1.05);
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.879), 0 0 16px rgba(255, 255, 255, 0.871);
      }
    
      .logo {
       
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
        transition: all 0.3s ease;
        display: inline-block; 
      }
      
      .logo:hover {
        transform: scale(1.05);
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.879), 0 0 16px rgba(255, 255, 255, 0.871);
      }