
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; /* Centra en el eje X */
    align-items: center;     /* Centra en el eje Y */
    background-color: #08090f00; /* O el color de fondo que uses */
  }

body {

    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Arcade Gamer', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#app canvas {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }
.login-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.79);
    
}

.logo {
    width: 30vw;
     text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
     transition: all 0.3s ease;
     display: inline-block; 
   }
   
   .logo:hover {
     transform: scale(1.05);
     text-shadow: 0 0 8px rgba(255, 255, 255, 0.879), 0 0 16px rgb(255, 255, 255);
   }
img {
    width: 400px;
    height: auto;
    margin-right: 10px;
}
input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(154, 154, 154);
    color: rgba(255, 255, 255, 0.648);
    outline: none;
    font-size: 16px;
    text-align: center;
}
.boton_jugar {
    margin-top: 2vh;
    background-color: transparent; /* <== Añade esta línea */
    font-weight: bold;
    font-size: 28px;
    padding: 10px 30px;
    width: max-content;
    border: 6px solid rgba(255, 255, 255, 0.959);  
    border-radius: 18px;  
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.295), 0 0 20px rgba(255, 255, 255, 0.249);
    transition: all 0.3s ease; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.386), 0 0 16px rgba(255, 255, 255, 0.444);
    color: white;
  }
  
  .boton_jugar:hover {
    transition: all 0.3s ease; 
    background-color: white;  
    color: #08090F;           
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.6);
    transform: scale(1.02);
  }

  .gamePage{
    display: flex;
    flex-direction: column;
    align-items: center;

  }