
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* evita desbordamientos horizontales */
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  margin-top: 0;
  padding-top: 0;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;

  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;

  background-color: #08090F;
  color: white;
  font-family: 'Inter', sans-serif;

  overflow: hidden;
}
#app canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
.fantasma_image{
  margin-top: 0;
  width: 20vw;
  max-width: 100%;
  height: auto;
}
.happy_face{
  width: 30vw;
  max-width: 100%;
  height: auto;
}

  .barraNav {
    margin-top: 0;
    
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: center; 
    padding-left: 5vw;
    padding-right: 10vw;     
    
  }
  .contenido {
    flex: 1;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    padding: 5vh 5vw;
    flex-wrap: wrap;         /* permite que el contenido se acomode en pantallas pequeñas */
    gap: 2rem;               /* espacio entre elementos si se apilan */
    box-sizing: border-box;
  }

  .row{
    display: flex;
    flex-direction: row;
  }
  .sizedbox{
  
    width: 15vw;
    height: 1px;
  }
  .textos{
    display: flex;
    flex-direction: column;
    padding-right: 5vw;  
  }
  .texto_jugar{
    padding-right: 5vw;    
    width: 50vw;
    display: flex;
    flex-direction: column;

  }
  .boton_jugar {
    font-weight: bold;
    font-size: 36px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: min-content;
    border: 6px solid white;  
    border-radius: 18px;  
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.295), 0 0 20px rgba(255, 255, 255, 0.249);
    transition: all 0.3s ease;  /* Suaviza la transición del hover */
  }
  
  .boton_jugar:hover {
    background-color: white;  
    color: #08090F;           
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.6); /* Intensifica el brillo */
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  nav{
  
    display: flex;
    flex-direction: row;
    gap: 3vw;
  }

h2 {
  padding: 0px;
    font-size: 64px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
    margin-bottom: 8px;
  }
h1 {
  padding: 0px;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
  }

  h3{
    padding: 0px;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
    margin-top: 0;
  }
  

  .boton_navegacion {
    padding: 0px;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.388), 0 0 16px rgba(255, 255, 255, 0.128);
    transition: all 0.3s ease;
  }
  
  .boton_navegacion:hover {
    padding: 0px;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.879), 0 0 16px rgba(255, 255, 255, 0.871);
  }

