@font-face {
    font-family: 'Arcade Gamer';
    src: url('../../fonts/PressStart2P-vaV7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url("../assets/web/fondoWeb.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arcade Gamer', sans-serif;
    margin: 0 auto;
}

.menu{
    padding: 40px 0px 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    margin-left: 10px;
}

.btn {
    width: 42%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.btn a{
    width: 100%;
}

.btn a button{
    padding: 12px 19px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    font-family: 'Arcade Gamer', sans-serif;
    font-size: 14px;
    word-wrap: break-word; /* Permite dividir palabras largas */
    overflow: hidden;      /* Oculta el desbordamiento */
}

.btn button:hover{
    background-color: rgb(194, 61, 17);
    transition: all 0.3s ease;
}

.btn button:active {
    background-color: rgb(255, 64, 0); /* Color más oscuro al presionar */
    transform: scale(0.95); /* Reduce el tamaño */
  }

img{
    width: 80%;
}